<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <script src="/static/js/jquery-3.4.1.min.js"></script>
</head>
<body>
    <h1>你好!欢迎来到Node MVC 世界! 请登录!</h1>
    <h2 id="plugin"></h2>
    <form action="/signin" method="post">
        <label for="name"></label><input type="text" id="name" name="name" value="Koa">
        <label for="password"></label><input type="text" id="password" name="password">
        <input type="submit" value="登录">
    </form>
</body>
<script src="/static/js/index.js"></script>
</html>